$white: #FFFFFF;
$black: #000000;
$darkblue: #10101DE5;
$footerbg: #3D4050;
$blue: #43ABF0;
$iconblue: #3E9CDC;
$iconborder: #286690;
$hoverblue: #42A9ED;
$grey: #6F6D7B;
$lightgrey: #BBBBBB;
$footergrey: #C3C3C3;
